{% extends 'baseCMS.html.twig' %}

{% block body %}

    {% image '@AppBundle/Resources/cms/img/logo.png' %}
        <img id="logo" src="{{ asset_url }}" alt="Example" />
    {% endimage %}

    <div id="title">Welcome To <3 <3 CMS</div>

    {{ form_start(form) }}
    <div id="form">
        {{ form_row(form.Serial) }}
        {{ form_row(form.Artist) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.Genre) }}
        {{ form_row(form.Description) }}
        {{ form_row(form.Tracks) }}
        {{ form_row(form.addTrack) }}
        {{ form_row(form.Download, { 'attr' : {'class' : 'upload' } }) }}
        {{ form_row(form.Thumbnail, { 'attr' : {'class' : 'upload' } }) }}
        {{ form_row(form.Artwork, { 'attr' : {'class' : 'upload' } }) }}
    </div>
    {{ form_end(form) }}

{% endblock %}